<h1>Create Kitty</h1>

<form action="/cats/create" method="post">
    <lable>name</lable>
    <input type="text" name="name">
    <lable>breed</lable>
    <input type="text" name="breed">
    <lable>Age</lable>
    <input type="number" name="age">
    <lable>favorite Food</lable>
    <input type="text" name="favoriteFood">

    <button type="submit">Create</button>

</form>