
 <div >
     <header class="nav">
          <nav>
             <ul class="nav_links">
                <li class="texty"><a href="/cats">Cats</a></li>
                <li><a href="/cats/create">Make a cat</a></li>
                <li><a href="/person/create">Create a Person</a></li>
                
             </ul>
          </nav>
     </header>
 </div>




<h1>{{appTitle}} </h1>

<p>Welcome to Cats and Owners</p>
<img src="https://www.americanhumane.org/app/uploads/2016/08/shutterstock_393108265-1024x681.jpg" alt="cat">

